@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://nokami93.github.io/SoftXE.css');
@import url("https://nokami93.github.io/import.css");
@import url("https://nokami93.github.io/prettyfolders.css");
@import url('https://nokami93.github.io/Glow.css');
@import url('https://nokami93.github.io/GlowStatus.css');
@import url('https://nokami93.github.io/serverring.css');
@import url("https://nokami93.github.io/VerticalUser.css");
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');
@import url('https://anubisnekhet.github.io/discordCSS/notification-icons.css');


/**
 * @name SoftXE
 * @author Nokami
 * @version 1.0.0
 * @description A smooth edit of SoftX!
 * @source https://nokami93.github.io
 * @Original: Gibbu
*/

:root {
  --background-image: url('https://i.imgur.com/Nglfni6.png'); 
  --background-blur: 55px;
  --opacity: 0.85; 
  --accent: 0,231,169; 
  --glow-intensity: 1.7; 
  --font: Inter; 
  --channels-width: 250px;
  --guilds-width: 90px; 
  --members-width: 280px; 
  --server-size: 40px;
  --chat-avatar-size: 40px; 
  --rs-small-spacing: 0.5px; /
  --rs-medium-spacing: 0.5px; 
  --rs-large-spacing: 0.5px; 
  --rs-small-width: 1.5px; 
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 25%; 
  --rs-online-color: #43b581; 
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747; 
  --rs-offline-color: #636b75; 
  --rs-phone-color: var(--rs-online-color); 
  --rs-streaming-color: #643da7; 
  --rs-phone-visible: block; 
  --rs-invisible-color: #747f8d; 
  --server-roundness: 25%; 
  --server-hover-colour: 255,255,255;
  --server-unread-colour: 255,98,0;
  --server-glow-intensity: 2;
}





